*, *:before, *:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: ariel, sans-serif;
}

body {
  margin: 0;
  padding: 24px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.item {
  flex: 1 1 auto;
  padding: 0 12px;
}

.-1 { width: 1%; }
.-5 { width: 5%; }
.-10 { width: 10%; }
.-20 { width: 20%; }
.-25 { width: 25%; }
.-30 { width: 30%; }
.-33 { width: 33.3333%; }
.-40 { width: 40%; }
.-50 { width: 50%; }
.-60 { width: 60%; }
.-70 { width: 70%; }
.-75 { width: 75%; }
.-80 { width: 80%; }
.-90 { width: 90%; }
.-100 { width: 100%; }

.list {
  padding: 0 0 0 0;
  list-style: none;
}

.list > li {
  padding: 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.list > li:first-child {
  border-top: 1px solid #aaa;
}